@page "/Contact"
@using AspNetCore.ReCaptcha
@using AspNetCore.ReCaptcha.RazorPages.Pages
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@inject IOptions<ReCaptchaSettings> ReCaptchaSettings
@model ContactModel

@{
    ViewData["Title"] = "Contact Us";
}

<div class="  grid grid-cols-1 lg:grid-cols-2  gap-6 my-20 ">
    <div class="flex items-center lg:justify-end justify-center  py-5">
        <div class=" max-w-sm lg:max-w-md  p-6 bg-white border border-gray-200 rounded shadow  ">
            <div class="flex flex-col items-center justify-center   ">

                <h1 class="text-lg font-bold text-gray-800 mb-8">Contact Us</h1>
                <form class="w-full max-w-lg" method="post" id="form">
                    <input type="hidden" name="access_key" value="c96688f8-d47d-405c-b556-a43defc593ff" />
                    <input type="hidden" name="subject" value="New Submission from Vayukah.com" />
                    <input type="hidden" name="redirect" value="https://www.vayukah.com/contact-success">
                    <input type="checkbox" name="botcheck" id="" style="display: none;" />
                    <div>
                        <p class="text-green-200">@TempData["Message"]</p>
                    </div>
                    <div asp-validation-summary="All"></div>
                    <div class="flex flex-wrap -mx-3 mb-6">
                        <div class="form-group w-full md:w-1/2 px-3">
                            <label asp-for="MyModel.FirstName" class="control-label block  tracking-wide text-gray-700 text-xs font-medium mb-2"></label>
                            <input asp-for="MyModel.FirstName" class="form-control appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white">
                        </div>
                        <div class="form-group w-full md:w-1/2 px-3">
                            <label asp-for="MyModel.LastName" class="control-label block  tracking-wide text-gray-700 text-xs font-medium mb-2"></label>
                            <input asp-for="MyModel.LastName" class="form-control appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white">
                        </div>
                    </div>
                    <div class="flex flex-wrap -mx-3 mb-6">
                        <div class="form-group w-full px-3">
                            <label asp-for="MyModel.Email" class="control-label block  tracking-wide text-gray-700 text-xs font-medium mb-2"></label>
                            <input asp-for="MyModel.Email" class="form-control appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white">
                        </div>
                    </div>
                    <div class="flex flex-wrap -mx-3 mb-6">
                        <div class="form-group w-full px-3">
                            <label asp-for="MyModel.PhoneNumber" class="control-label block  tracking-wide text-gray-700 text-xs font-medium mb-2"></label>
                            <input asp-for="MyModel.PhoneNumber" class="form-control appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white">
                        </div>
                    </div>
                    <div class="flex flex-wrap -mx-3 mb-6">
                        <div class="form-group w-full px-3">
                            <label asp-for="MyModel.Message" class="control-label block  tracking-wide text-gray-700 text-xs font-medium mb-2"></label>
                            <textarea asp-for="MyModel.Message" class="form-control no-resize appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white h-36 resize-none"></textarea>
                        </div>
                    </div>
                    <div class="flex flex-wrap -mx-3 mb-6">
                        <div class="w-1/4 px-3">
                            <div class="form-group">
                                @switch (ReCaptchaSettings.Value.Version)
                                {
                                    case ReCaptchaVersion.V2:
                                        // Optionally override language of the recaptcha
                                        // @Html.ReCaptcha(language: "en")
                                        <recaptcha />
                                        break;
                                    case ReCaptchaVersion.V2Invisible:
                                        <recaptcha class-name="btn btn-primary" callback="submitForm" text="Submit Invisible ReCaptcha" />
                                        break;
                                    case ReCaptchaVersion.V3:
                                        <recaptcha action="contact" />
                                        break;
                                }

                            </div>
                        </div>
                    </div>@*  <div class="flex justify-center hidden" id="Captchahelper">
                    <p class=" text-yellow-400 text-md italic" >Invailed </p>
                    </div> *@
                    <div class="md:flex md:items-center pb-3 ">
                        @if (ReCaptchaSettings.Value.Version != ReCaptchaVersion.V2Invisible)
                         {
                        <div class="md:w-1/3 ">
                            <button class="bg-black hover:bg-gray-200 text-gray-200 hover:text-gray-700 font-semibold py-2 px-4 border  rounded btn btn-primary" id="submitButton" type="submit">
                                Send
                            </button>
                        </div>
                         }
                    </div>



                </form>

            </div>
        </div>
    </div>

    <div class="flex lg:justify-start lg:items-center justify-center ">
        <div>
            <ul class=" text-gray-700 text-lg px-6 sm:text-lg py-6 " style=" text-align:left;">
                <li class="py-2"><b>Register Office</b></li>
                <li>3rd Floor,  Plot no.283/B,</li>
                <li>New Auto Nagar,  Kanaru Autonagar road,</li>
                <li>Kanuru,  Vijayawada,</li>
                <li>NTR,  Andhra Pradesh,  520007</li>
            </ul>

            <ul class=" text-gray-700 text-lg px-6 sm:text-lg py-6" style=" text-align:left;">
                <li class="py-2"><b>Hyderabad Office</b></li>
                <li>Flat #213,</li>
                <li>Transcon Pragathi Avenue,</li>
                <li>Peerzadiguda,  Medchal Dist,</li>
                <li>Telangana,  500098</li>
            </ul>

            <ul class=" text-gray-700 text-lg px-6 sm:text-lg py-6" style=" text-align:left;">
                <li><b>Contact number</b> 94918 79611</li>
                <li><b>E-mail</b> info@vayukah.com</li>
            </ul>
        </div>
    </div>
  </div>  
