
<link rel="stylesheet" href="css/typography.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header class="   top-0 fixed  z-10  bg-white dark:bg-black opacity-90 w-full h-auto shadow">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class=" flex flex-wrap items-center justify-start    ">
            <div class="absolute  sm:static flex-shrink flex-grow-0 ">
                <div class="cursor-pointer">
                    <a class="navbar-brand flex items-center" href="./">
                        <svg class="w-8 h-8 sm:ml-2 sm:w-12 sm:h-12" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 18">

                            <path d="m 0.048819,3.4671 -5.5e-4,2.5665 c 0.0456,0.3099 0.0912,0.61989 0.23634,0.94836 0.14511,0.32848 0.38966,0.67551 1.2181,1.399 0.82847,0.72352 2.2407,1.8235 3.6531,2.9235 0.18057,0.12262 0.36113,0.24523 0.59097,0.32213 0.22985,0.0769 0.50874,0.10803 0.78778,0.10802 0.27904,0 0.55792,-0.0311 0.80639,-0.10978 0.24848,-0.0786 0.46641,-0.20476 1.4183,-0.95422 0.95192,-0.74946 2.6378,-2.1222 4.3236,-3.495 l -5.6e-4,-3.7439 -3.7446,3.0009 c -0.37465,0.26707 -0.74927,0.53413 -1.2165,0.74836 -0.46723,0.21424 -1.0269,0.3756 -1.6221,0.3756 -0.59522,1e-5 -1.2257,-0.16134 -1.6615,-0.35342 -0.43585,-0.19209 -0.6768,-0.41478 -1.4425,-1.0426 -0.76568,-0.62779 -2.056,-1.6606 -2.7011,-2.177 C 0.048799,3.46711 0.048759,3.46711 0.048759,3.46711 Z"
                                  fill="#0656d6"
                                  id="path1" />
                            <path d="m 13.83,6.6045 6.4e-4,-3.8851 2.2117,-1.759 c 0.1879,-0.14353 0.37578,-0.28705 0.61865,-0.41177 0.24287,-0.12471 0.5405,-0.23053 0.85063,-0.23052 0.31012,1e-5 0.63227,0.10579 0.87317,0.2181 0.2409,0.11231 0.40006,0.23091 0.85979,0.59587 0.45973,0.36497 1.2197,0.9761 1.9799,1.5873 v 3.7252 l -1.8582,-1.4511 C 19.09696,4.81137 18.82774,4.62932 18.5212,4.47263 18.21467,4.31594 17.87122,4.18481 17.5114,4.1848 c -0.35978,0 -0.73541,0.13113 -1.065,0.30098 -0.32958,0.16985 -0.61281,0.37827 -1.0281,0.70057 -0.41528,0.32229 -0.96256,0.75842 -1.2492,0.9871 -0.28662,0.22869 -0.31258,0.24992 -0.33854,0.27116 l -6.4e-4,0.15983 z"
                                  fill="#eb8a0c"
                                  id="path2" />
                            <path d="m 21.954,3.4078 0.006,3.7491 2.1377,1.9121 c 0.0939,0.0972 0.18779,0.19449 0.25528,0.32086 0.0675,0.12636 0.10865,0.28177 0.11402,0.4293 0.005,0.14753 -0.0251,0.28699 -0.0999,0.42004 -0.0749,0.13305 -0.19414,0.25972 -0.39262,0.43178 -0.19848,0.17206 -0.47617,0.38952 -0.75385,0.60697 -0.31139,0.27638 -0.62278,0.55275 -0.84451,0.8445 -0.22172,0.29175 -0.35375,0.59879 -0.42061,0.88979 -0.0669,0.29101 -0.0686,0.56582 -0.0703,0.84072 l 1.6e-4,2.3519 5.8379,-4.8402 c 0.2427,-0.2515 0.4854,-0.50299 0.64035,-0.75922 0.15496,-0.25623 0.22217,-0.51726 0.21858,-0.79098 -0.004,-0.27372 -0.078,-0.56009 -0.25317,-0.86784 -0.17522,-0.30775 -0.45128,-0.63678 -1.5306,-1.5635 -1.0794,-0.92667 -2.9621,-2.451 -4.8447,-3.9753 z"
                                  fill="#3eba3a"
                                  id="path3" />
                        </svg>
                        <span class="hidden sm:block text-2xl font-semibold text-black">Vayukah Drones</span>
                    </a>
                </div>
                </div>
                </div>
        <div class="hidden lg:flex lg:gap-x-8 justify-center">
            <div class="relative">
                <button type="button" class="flex items-center gap-x-1 text-lg font-bold font-semibold leading-6 text-gray-900" aria-expanded="true"
                        onclick="document.getElementById('nav-menu-lg').classList.toggle('visible')">
                    Product
                    <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                    </svg>
                </button>

                <!--
                  'Product' flyout menu, show/hide based on flyout menu state.

                  Entering: "transition ease-out duration-200"
                    From: "opacity-0 translate-y-1"
                    To: "opacity-100 translate-y-0"
                  Leaving: "transition ease-in duration-150"
                    From: "opacity-100 translate-y-0"
                    To: "opacity-0 translate-y-1"
                -->
                <div class="absolute -left-8 top-full z-10 mt-3 w-screen max-w-md overflow-hidden hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5 " id="nav-menu-lg">
                    <div class="p-4">
                        <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                            <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                                <svg class="h-6 w-6 text-gray-600 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 107.5 7.5h-7.5V6z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0013.5 3v7.5z" />
                                </svg>
                            </div>
                            <div class="flex-auto">
                                <a href="#" class="block font-semibold text-gray-900">
                                    Analytics
                                    <span class="absolute inset-0"></span>
                                </a>
                                <p class="mt-1 text-gray-600">Get a better understanding of your traffic</p>
                            </div>
                        </div>
                        <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                            <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                                <svg class="h-6 w-6 text-gray-600 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.042 21.672L13.684 16.6m0 0l-2.51 2.225.569-9.47 5.227 7.917-3.286-.672zM12 2.25V4.5m5.834.166l-1.591 1.591M20.25 10.5H18M7.757 14.743l-1.59 1.59M6 10.5H3.75m4.007-4.243l-1.59-1.59" />
                                </svg>
                            </div>
                            <div class="flex-auto">
                                <a href="#" class="block font-semibold text-gray-900">
                                    Engagement
                                    <span class="absolute inset-0"></span>
                                </a>
                                <p class="mt-1 text-gray-600">Speak directly to your customers</p>
                            </div>
                        </div>
                        <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                            <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                                <svg class="h-6 w-6 text-gray-600 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33" />
                                </svg>
                            </div>
                            <div class="flex-auto">
                                <a href="#" class="block font-semibold text-gray-900">
                                    Security
                                    <span class="absolute inset-0"></span>
                                </a>
                                <p class="mt-1 text-gray-600">Your customers’ data will be safe and secure</p>
                            </div>
                        </div>
                        <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                            <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                                <svg class="h-6 w-6 text-gray-600 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 002.25-2.25V6a2.25 2.25 0 00-2.25-2.25H6A2.25 2.25 0 003.75 6v2.25A2.25 2.25 0 006 10.5zm0 9.75h2.25A2.25 2.25 0 0010.5 18v-2.25a2.25 2.25 0 00-2.25-2.25H6a2.25 2.25 0 00-2.25 2.25V18A2.25 2.25 0 006 20.25zm9.75-9.75H18a2.25 2.25 0 002.25-2.25V6A2.25 2.25 0 0018 3.75h-2.25A2.25 2.25 0 0013.5 6v2.25a2.25 2.25 0 002.25 2.25z" />
                                </svg>
                            </div>
                            <div class="flex-auto">
                                <a href="#" class="block font-semibold text-gray-900">
                                    Integrations
                                    <span class="absolute inset-0"></span>
                                </a>
                                <p class="mt-1 text-gray-600">Connect with third-party tools</p>
                            </div>
                        </div>
                        <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                            <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                                <svg class="h-6 w-6 text-gray-600 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                                </svg>
                            </div>
                            <div class="flex-auto">
                                <a href="#" class="block font-semibold text-gray-900">
                                    Automations
                                    <span class="absolute inset-0"></span>
                                </a>
                                <p class="mt-1 text-gray-600">Build strategic funnels that will convert</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-2 divide-x divide-gray-900/5 bg-gray-50">
                        <a href="#" class="flex items-center justify-center gap-x-2.5 p-3 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-100">
                            <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M2 10a8 8 0 1116 0 8 8 0 01-16 0zm6.39-2.908a.75.75 0 01.766.027l3.5 2.25a.75.75 0 010 1.262l-3.5 2.25A.75.75 0 018 12.25v-4.5a.75.75 0 01.39-.658z" clip-rule="evenodd" />
                            </svg>
                            Watch demo
                        </a>
                        <a href="#" class="flex items-center justify-center gap-x-2.5 p-3 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-100">
                            <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M2 3.5A1.5 1.5 0 013.5 2h1.148a1.5 1.5 0 011.465 1.175l.716 3.223a1.5 1.5 0 01-1.052 1.767l-.933.267c-.41.117-.643.555-.48.95a11.542 11.542 0 006.254 6.254c.395.163.833-.07.95-.48l.267-.933a1.5 1.5 0 011.767-1.052l3.223.716A1.5 1.5 0 0118 15.352V16.5a1.5 1.5 0 01-1.5 1.5H15c-1.149 0-2.263-.15-3.326-.43A13.022 13.022 0 012.43 8.326 13.019 13.019 0 012 5V3.5z" clip-rule="evenodd" />
                            </svg>
                            Contact sales
                        </a>
                    </div>
                </div>
            </div>

            <a href="#" class="text-lg font-bold  font-semibold leading-6 text-gray-900">Features</a>
            <a href="#" class="text-lg font-bold  font-semibold leading-6 text-gray-900">Marketplace</a>
            <a href="#" class="text-lg font-bold  font-semibold leading-6 text-gray-900">Company</a>
        </div>
        
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div class="lg:hidden" role="dialog" aria-modal="true">
        <!-- Background backdrop, show/hide based on slide-over state. -->
        <div class="fixed inset-0 z-10"></div>
        <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
            <div class="flex items-center justify-between">
                <a href="#" class="-m-1.5 p-1.5">
                    <span class="sr-only">Your Company</span>
                    <svg class="w-8 h-8 sm:ml-2 sm:w-12 sm:h-12" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 18">

                        <path d="m 0.048819,3.4671 -5.5e-4,2.5665 c 0.0456,0.3099 0.0912,0.61989 0.23634,0.94836 0.14511,0.32848 0.38966,0.67551 1.2181,1.399 0.82847,0.72352 2.2407,1.8235 3.6531,2.9235 0.18057,0.12262 0.36113,0.24523 0.59097,0.32213 0.22985,0.0769 0.50874,0.10803 0.78778,0.10802 0.27904,0 0.55792,-0.0311 0.80639,-0.10978 0.24848,-0.0786 0.46641,-0.20476 1.4183,-0.95422 0.95192,-0.74946 2.6378,-2.1222 4.3236,-3.495 l -5.6e-4,-3.7439 -3.7446,3.0009 c -0.37465,0.26707 -0.74927,0.53413 -1.2165,0.74836 -0.46723,0.21424 -1.0269,0.3756 -1.6221,0.3756 -0.59522,1e-5 -1.2257,-0.16134 -1.6615,-0.35342 -0.43585,-0.19209 -0.6768,-0.41478 -1.4425,-1.0426 -0.76568,-0.62779 -2.056,-1.6606 -2.7011,-2.177 C 0.048799,3.46711 0.048759,3.46711 0.048759,3.46711 Z"
                              fill="#0656d6"
                              id="path1" />
                        <path d="m 13.83,6.6045 6.4e-4,-3.8851 2.2117,-1.759 c 0.1879,-0.14353 0.37578,-0.28705 0.61865,-0.41177 0.24287,-0.12471 0.5405,-0.23053 0.85063,-0.23052 0.31012,1e-5 0.63227,0.10579 0.87317,0.2181 0.2409,0.11231 0.40006,0.23091 0.85979,0.59587 0.45973,0.36497 1.2197,0.9761 1.9799,1.5873 v 3.7252 l -1.8582,-1.4511 C 19.09696,4.81137 18.82774,4.62932 18.5212,4.47263 18.21467,4.31594 17.87122,4.18481 17.5114,4.1848 c -0.35978,0 -0.73541,0.13113 -1.065,0.30098 -0.32958,0.16985 -0.61281,0.37827 -1.0281,0.70057 -0.41528,0.32229 -0.96256,0.75842 -1.2492,0.9871 -0.28662,0.22869 -0.31258,0.24992 -0.33854,0.27116 l -6.4e-4,0.15983 z"
                              fill="#eb8a0c"
                              id="path2" />
                        <path d="m 21.954,3.4078 0.006,3.7491 2.1377,1.9121 c 0.0939,0.0972 0.18779,0.19449 0.25528,0.32086 0.0675,0.12636 0.10865,0.28177 0.11402,0.4293 0.005,0.14753 -0.0251,0.28699 -0.0999,0.42004 -0.0749,0.13305 -0.19414,0.25972 -0.39262,0.43178 -0.19848,0.17206 -0.47617,0.38952 -0.75385,0.60697 -0.31139,0.27638 -0.62278,0.55275 -0.84451,0.8445 -0.22172,0.29175 -0.35375,0.59879 -0.42061,0.88979 -0.0669,0.29101 -0.0686,0.56582 -0.0703,0.84072 l 1.6e-4,2.3519 5.8379,-4.8402 c 0.2427,-0.2515 0.4854,-0.50299 0.64035,-0.75922 0.15496,-0.25623 0.22217,-0.51726 0.21858,-0.79098 -0.004,-0.27372 -0.078,-0.56009 -0.25317,-0.86784 -0.17522,-0.30775 -0.45128,-0.63678 -1.5306,-1.5635 -1.0794,-0.92667 -2.9621,-2.451 -4.8447,-3.9753 z"
                              fill="#3eba3a"
                              id="path3" />
                    </svg>
                </a>
                <button name="btn_show_hide_menu" type="button"
                    class="-m-2.5 rounded-md p-2.5 text-gray-700"
                        onclick=" document.getElementById('nav-menu-to-hide').classList.toggle('hidden')">
                    <span class="sr-only">Close menu</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="mt-6 flow-root" id="nav-menu-to-hide">
                <div class="-my-6 divide-y divide-gray-500/10">
                    <div class="space-y-2 py-6" >
                        <div class="-mx-3">
                            <button type="button" class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" aria-controls="disclosure-1" aria-expanded="false"
                                 onclick="document.getElementById('nav-menu-cross').classList.toggle('hidden')">
                                Product
                                <!--
                                  Expand/collapse icon, toggle classes based on menu open state.

                                  Open: "rotate-180", Closed: ""
                                -->
                                <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                                </svg>
                            </button>
                            <!-- 'Product' sub-menu, show/hide based on menu state. -->
                            <div class="mt-2 space-y-2"  id="nav-menu-cross">
                                <a href="#" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50">Analytics</a>
                                <a href="#" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50">Engagement</a>
                                <a href="#" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50">Security</a>
                                <a href="#" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50">Integrations</a>
                                <a href="#" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50">Automations</a>
                                <a href="#" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50">Watch demo</a>
                                <a href="#" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50">Contact sales</a>
                            </div>
                        </div>
                        <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Features</a>
                        <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Marketplace</a>
                        <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Company</a>
                    </div>
                    <div class="py-6">
                        <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Log in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu ">
        <div class="space-y-1 px-2 flex-row  ">
            <a class="navbar-brand flex items-center justify-center" href="./">
                <svg class="w-8 h-8 sm:ml-2 sm:w-12 sm:h-12" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 18">

                    <path d="m 0.048819,3.4671 -5.5e-4,2.5665 c 0.0456,0.3099 0.0912,0.61989 0.23634,0.94836 0.14511,0.32848 0.38966,0.67551 1.2181,1.399 0.82847,0.72352 2.2407,1.8235 3.6531,2.9235 0.18057,0.12262 0.36113,0.24523 0.59097,0.32213 0.22985,0.0769 0.50874,0.10803 0.78778,0.10802 0.27904,0 0.55792,-0.0311 0.80639,-0.10978 0.24848,-0.0786 0.46641,-0.20476 1.4183,-0.95422 0.95192,-0.74946 2.6378,-2.1222 4.3236,-3.495 l -5.6e-4,-3.7439 -3.7446,3.0009 c -0.37465,0.26707 -0.74927,0.53413 -1.2165,0.74836 -0.46723,0.21424 -1.0269,0.3756 -1.6221,0.3756 -0.59522,1e-5 -1.2257,-0.16134 -1.6615,-0.35342 -0.43585,-0.19209 -0.6768,-0.41478 -1.4425,-1.0426 -0.76568,-0.62779 -2.056,-1.6606 -2.7011,-2.177 C 0.048799,3.46711 0.048759,3.46711 0.048759,3.46711 Z"
                          fill="#0656d6"
                          id="path1" />
                    <path d="m 13.83,6.6045 6.4e-4,-3.8851 2.2117,-1.759 c 0.1879,-0.14353 0.37578,-0.28705 0.61865,-0.41177 0.24287,-0.12471 0.5405,-0.23053 0.85063,-0.23052 0.31012,1e-5 0.63227,0.10579 0.87317,0.2181 0.2409,0.11231 0.40006,0.23091 0.85979,0.59587 0.45973,0.36497 1.2197,0.9761 1.9799,1.5873 v 3.7252 l -1.8582,-1.4511 C 19.09696,4.81137 18.82774,4.62932 18.5212,4.47263 18.21467,4.31594 17.87122,4.18481 17.5114,4.1848 c -0.35978,0 -0.73541,0.13113 -1.065,0.30098 -0.32958,0.16985 -0.61281,0.37827 -1.0281,0.70057 -0.41528,0.32229 -0.96256,0.75842 -1.2492,0.9871 -0.28662,0.22869 -0.31258,0.24992 -0.33854,0.27116 l -6.4e-4,0.15983 z"
                          fill="#eb8a0c"
                          id="path2" />
                    <path d="m 21.954,3.4078 0.006,3.7491 2.1377,1.9121 c 0.0939,0.0972 0.18779,0.19449 0.25528,0.32086 0.0675,0.12636 0.10865,0.28177 0.11402,0.4293 0.005,0.14753 -0.0251,0.28699 -0.0999,0.42004 -0.0749,0.13305 -0.19414,0.25972 -0.39262,0.43178 -0.19848,0.17206 -0.47617,0.38952 -0.75385,0.60697 -0.31139,0.27638 -0.62278,0.55275 -0.84451,0.8445 -0.22172,0.29175 -0.35375,0.59879 -0.42061,0.88979 -0.0669,0.29101 -0.0686,0.56582 -0.0703,0.84072 l 1.6e-4,2.3519 5.8379,-4.8402 c 0.2427,-0.2515 0.4854,-0.50299 0.64035,-0.75922 0.15496,-0.25623 0.22217,-0.51726 0.21858,-0.79098 -0.004,-0.27372 -0.078,-0.56009 -0.25317,-0.86784 -0.17522,-0.30775 -0.45128,-0.63678 -1.5306,-1.5635 -1.0794,-0.92667 -2.9621,-2.451 -4.8447,-3.9753 z"
                          fill="#3eba3a"
                          id="path3" />
                </svg>
                <span class=" text-2xl font-semibold pl-6 text-black">Vayukah Drones</span>
            </a>
            <button id="nav-toggle" class="md:hidden flex justify-start  w-8 h-8 bg-gray-200 hover:bg-gray-300 rounded-full">
                <span class="block w-5 h-0.5 bg-black rounded-sm transition-all duration-300 ease-out"></span>
                <span class="block w-5 h-0.5 bg-black rounded-sm my-1 transition-all duration-300 ease-out"></span>
                <span class="block w-5 h-0.5 bg-black rounded-sm transition-all duration-300 ease-out"></span>
            </button>
            <ul id="nav-menu" class="hidden md:flex justify-between items-center ">
                <li><a href="#" class="text-lg font-bold">Drone</a></li>
                <li><a href="#" class="text-lg font-bold">Battery</a></li>
                <li><a href="#" class="text-lg font-bold">Software</a></li>
            </ul>
       </div>
         </div>
</header>
<script type="module">
    import { mountAll } from "app.mjs"
    mountAll()
    

</script>
