@page "/about"
@attribute [RenderStatic]
@{
    ViewData["Title"] = "About Us";
}

<div class=" mt-16 sm:mt-32">
    <div class=" ">
        <div class="">
            <div class=" ">
                
                    

<link rel="stylesheet" href="css/typography.css">
<div class="w-screen">
                        Vayukah is a UAS/RPAS (Drone) manufacturing startup base in Sunrise state of Andhra Pradesh. We strive to build reliable, efficient, compliant and user friendly enterprise drones with a strong focus on quality, technology and usability. We focus on strong innovation in engineering and system integration that aims to achieve large scale manufacturing of drones in India.<br />
                        Our drones will be DGCA compliant and can be registered to generate a UIN number. Our drones incorporate software and hardware features that enable an ordinary user to operate the drone safely and securely.<br />
                        We design, build and test our drones using a combination of software design, simulation and rapid prototyping. These expertise are built in house by our engineers using a combination of software and hardware systems. This enables us to achieve robust designs that are very reliable. We want to offer our drones as a complete solution where the hardware is supported by an ecosystem of software for operation, maintenance and compliance. The amalgamation of the software ecosystem and robust hardware is our unique proposition.<br />
                        Our first drone will revolutionize mapping/survey and asset inspection with top of the line endurance, safety and stability features. We are finalizing our design parameters and prototype construction. We will keep you updated as we go along.<br />
</div>

                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>