@page "/about"
@attribute [RenderStatic]
@{
    ViewData["Title"] = "About Us";
}
@if (ViewContext.RouteData.Values["success"] != null)
{
    @*  <script type="text/javascript">
            window.onload = function () {
                alert("Thank you for contacting us !");
            };
        </script> *@
    <div class="bg-green-200 px-6 py-4 mx-2 my-4 rounded-md text-lg flex items-center mx-auto max-w-lg">
        <svg viewBox="0 0 24 24" class="text-green-600 w-5 h-5 sm:w-5 sm:h-5 mr-3">
            <path fill="currentColor"
                  d="M12,0A12,12,0,1,0,24,12,12.014,12.014,0,0,0,12,0Zm6.927,8.2-6.845,9.289a1.011,1.011,0,0,1-1.43.188L5.764,13.769a1,1,0,1,1,1.25-1.562l4.076,3.261,6.227-8.451A1,1,0,1,1,18.927,8.2Z">
            </path>
        </svg>
        <span class="text-green-800">Thank you for your interest !</span>
    </div>
}
<div class="sm:px-8 mt-16 sm:mt-32">
    <div class="mx-auto max-w-7xl lg:px-8">
        <div class="relative px-4 sm:px-8 lg:px-12">
            <div class="mx-auto max-w-2xl lg:max-w-5xl">
                <div class="grid grid-cols-1 gap-y-16 lg:grid-cols-10 lg:grid-rows-[auto_1fr] lg:gap-y-12">
                   @*  <div class="lg:pl-20">
                        <div class="max-w-xs px-2.5 lg:max-w-none">
                            <img alt="" sizes="(min-width: 1024px) 32rem, 20rem" srcset="https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80" width="800" height="800" decoding="async" data-nimg="1" class="aspect-square rotate-3 rounded-2xl bg-zinc-100 object-cover dark:bg-zinc-800" loading="lazy" style="color: transparent;">
                        </div>
                    </div> *@
                    <div class="lg:order-first lg:row-span-2 lg:col-span-7">
                        <h1 class="text-4xl  tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-2xl">
                            We are Team Vayukah. We are passionate about drones.
                        </h1>
                    <div class="mt-6 space-y-7 text-zinc-600 dark:text-zinc-400">

<link rel="stylesheet" href="css/typography.css">
<markdown class="prose">
Vayukah is a UAS/RPAS (Drone) manufacturing startup base in Sunrise state of Andhra Pradesh. We strive to 
build reliable, efficient, compliant and user friendly enterprise drones with a strong focus on quality, 
technology and usability. We focus on strong innovation in engineering and system integration that aims to 
achieve large scale manufacturing of drones in India.

Our drones will be DGCA compliant and can be registered to generate a UIN number. Our drones incorporate 
software and hardware features that enable an ordinary user to operate the drone safely and securely.

We design, build and test our drones using a combination of software design, simulation and rapid prototyping. 
These expertise are built in house by our engineers using a combination of software and hardware systems. 
This enables us to achieve robust designs that are very reliable. We want to offer our drones as a complete 
solution where the hardware is supported by an ecosystem of software for operation, maintenance and compliance. 
The amalgamation of the software ecosystem and robust hardware is our unique proposition.

Our first drone will revolutionize mapping/survey and asset inspection with top of the line endurance, safety
and stability features. We are finalizing our design parameters and prototype construction. We will keep you 
updated as we go along.


</markdown>

                        </div>
                    </div>
                    <div class="lg:pl-20 lg:col-span-3">
                        @await Html.PartialAsync("FollowLinks")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>