@page "/battery"
@attribute [RenderStatic]
@{
    ViewData["Title"] = "Smart battery";
}

<div class="text-center lg:pt-2 sm:pt-2 pt-2 ">
    <section class="text-center mb-4 border-y">
        <div class="grid grid-cols-1 p-4 border-y ">
            <div class="flex items-center justify-center">
                <div class=" flex justify-center">
                    <img class="object-contain " height="auto" width="60%" src="./img/products/Battery/smartbattery.png">
                </div>
            </div>
            <h3 class="mx-auto max-w-4xl lg:my-4 sm:my-2 my-1 font-display text-2xl font-medium tracking-tight text-slate-900 dark:text-slate-50 sm:text-4xl">
                <b>Smart Battery</b>
            </h3>
        </div>
    </section>
    <h1 class="mx-auto max-w-4xl lg:my-8 md:my-4 my-2 font-display  font-medium tracking-tight text-slate-900 dark:text-slate-50 lg:text-2xl md:text-lg text-md  ">
        Meet our Smart Battery with intelligent flight modes that provide sensible protections when flying or on ground.
    </h1>
</div>

<div class="mx-auto max-w-7xl lg:mb-8 md:mb-4 mb-2 text-center ">
    <div class="hidden lg:flex">
        <div class=" grid lg:grid-cols-2 grid-cols-1 lg:gap-y-4 text-center ">
            <div class=" p-4 flex grid grid-cols-1 justify-center border-2 shadow-lg">
                <div class="flex items-center justify-center">
                    <img class="object-contain " src="./img/products/Battery/smartbattery.png">
                </div>
            </div>
            <div class="p-4 flex grid grid-cols-1 justify-center border-2 shadow-lg">
                <div class=" flex items-end justify-center">
                    <h1 class="text-2xl"><b>Features</b></h1>
                </div>
                <div class="flex items-stretch justify-center">
                    <ul class="text-md md:text-lg self-start ">
                        <li>21000 mAh</li>
                        <li>6S Li-ion</li>
                        <li>5C discharge</li>
                        <li>CAN protocol</li>
                        <li>SOC and SOH indication</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    @*Small devices*@
    <div class=" lg:hidden flex p-4 flex grid grid-cols-1 lg:grid-cols-2 justify-center border-2 shadow-lg">
        <div class="flex items-center justify-center">
            <img class="object-contain " src="./img/products/Battery/smartbattery.png">
        </div>
        <div class="p-4 flex grid grid-cols-1 justify-center ">
            <div class=" flex justify-center">
                <h1 class="text-2xl"><b>Features</b></h1>
            </div>
            <div class="flex items-stretch justify-center">
                <ul class="text-md md:text-lg self-start ">
                    <li>21000 mAh</li>
                    <li>6S Li-ion</li>
                    <li>5C discharge</li>
                    <li>CAN protocol</li>
                    <li>SOC and SOH indication</li>
                </ul>
            </div>
        </div>
    </div>
</div>

