@page "/drone"
@attribute [RenderStatic]
@{
    ViewData["Title"] = "VIGOR";
}

<div class="text-center lg:pt-2 sm:pt-2 pt-2 ">
    <section class="text-center mb-4 border-y">
        <div class="grid grid-cols-1 p-4 border-y ">
            <div class="flex items-center justify-center">
                <div class=" flex justify-center">
                    <img class="object-contain " height="auto" width="60%" src="./img/products/Drone/dronelayout.png">
                </div>
            </div>
            <h3 class="mx-auto max-w-4xl lg:my-4 sm:my-2 my-1 font-display text-2xl font-medium tracking-tight text-slate-900 dark:text-slate-50 sm:text-4xl">
                <b>VIGOR</b>
            </h3>
        </div>
    </section>
    <div class="mx-auto max-w-4xl lg:my-8 md:my-4 my-2">
        <h1 class=" font-display  font-medium tracking-tight text-slate-900 dark:text-slate-50 lg:text-2xl md:text-lg text-md ">
            A stable platform for Survey, Mapping and Inspection projects with a wide range of lens. Vigor is equipped with RTK module, pivoting camera mount and obstacle detection.
        </h1>
        <div class="flex lg:my-4 my-2 justify-center">
            <a class="group inline-flex items-center justify-center rounded-full py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-slate-900 text-white hover:bg-slate-700 hover:text-slate-100 active:bg-slate-800 active:text-slate-300 focus-visible:outline-slate-900" href="/products">
               Vigor Specs
            </a>
        </div>
    </div>
</div>

<div class="mx-auto max-w-7xl lg:mb-8 md:mb-4 mb-2 grid lg:grid-cols-2 grid-cols-1 gap-y-4 text-center ">
    <div class=" p-4 flex grid grid-cols-1 justify-center border-2 shadow-lg">
        <div class=" flex items-end justify-center">
            <h1 class="text-2xl"><b>Powerhouse of an UAV</b></h1>
        </div>
        <div class="flex items-center justify-center">
            <img class="object-contain " src="./img/products/Drone/dronelayout.png">
        </div>
        <div class="flex items-stretch justify-center">
            <ul class="text-md md:text-lg self-start ">
                <li>Multi-directional range finders</li>
                <li>Obstacle detection and stop</li>
            </ul>    
        </div>
    </div>
    <div class="flex items-center justify-center">
        <div class="  flex grid items-center grid-cols-1 lg:gap-x-3 gap-y-2">
            <div class=" p-4 flex grid grid-cols-1 justify-center border-2 shadow-lg">
                <div class=" flex items-end justify-center">
                    <h1 class="text-2xl"><b>Compact to transport</b></h1>
                </div>
                <img class="object-contain " src="./img/products/Drone/Drone_compact.png">
                <div class="flex items-stretch justify-center">
                    <ul class="text-md md:text-lg self-start ">
                        <li>Fits into a backpack</li>
                        <li>Quick and easy deployment</li>
                    </ul>
                </div>
            </div>
            <div class=" p-4 flex grid grid-cols-1 justify-center border-2 shadow-lg">
                <div class=" flex items-end justify-center">
                    <h1 class="text-2xl"><b>Payload Quick Release</b></h1>
                </div>
                <img class="object-contain " src="./img/products/Drone/Quick_release.png">
                <div class="flex items-stretch justify-center">
                    <ul class="text-md md:text-lg self-start ">
                        <li>Instant payload swap</li>
                        <li>Upto 15 lens combinations</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

