@page "/drone4relief"
@attribute [RenderStatic]
@{
    ViewData["Title"] = "Drone for Relief";
}

<div class="text-center lg:pt-2 sm:pt-2 pt-2 ">
    <section class="text-center mb-4 border-y">
        <div class="grid grid-cols-1 p-4 border-y ">
            <div class="flex items-center justify-center">
                <div class=" flex justify-center">
                    <img class="object-contain " height="auto" width="60%" src="./img/products/Drones4relief/pathmap.png">
                </div>
            </div>
            <h3 class="mx-auto max-w-4xl lg:my-4 sm:my-2 my-1 font-display text-2xl font-medium tracking-tight text-slate-900 dark:text-slate-50 sm:text-4xl">
                <b>Drone4Releif</b>
            </h3>
        </div>
    </section>
    <h1 class="mx-auto max-w-4xl lg:my-8 md:my-4 my-2 font-display  font-medium tracking-tight text-slate-900 dark:text-slate-50 lg:text-4xl md:text-3xl text-2xl ">
        About Drone4Releif....!!!
    </h1>
</div>

<div class="mx-auto max-w-7xl grid lg:grid-cols-2 grid-cols-1 text-center ">
    <div class=" p-4 flex justify-center border-2 shadow-lg">
        <img class="object-contain " src="./img/products/Drones4relief/pathmap.png">
    </div>
    <div class="flex items-center justify-center">
        <div class="  flex grid items-center grid-cols-1 lg:gap-x-3 gap-y-2">
            <div class="border-2 p-4 shadow-lg">
                <img class="object-contain " src="./img/products/Drones4relief/heatmap.jpg">
            </div>
            <div class="border-2 p-4 shadow-lg">
                <img class="object-contain " src="./img/products/Drones4relief/building.png">
            </div>
        </div>
    </div>
</div>

