@page "/dronesharpcloud"
@attribute [RenderStatic]
@{
    ViewData["Title"] = "Dronesharp Cloud";
}

<div class="text-center lg:pt-2 sm:pt-4 pt-8 ">
    <div class="mx-auto lg:my-8 md:my-6 sm:my-4 my-2  max-w-7xl">
        <h3 class="lg:my-8 md:my-4 my-2 font-display text-2xl font-medium tracking-tight text-slate-900 dark:text-slate-50 sm:text-4xl">
            <b>Dronesharp Cloud</b>
        </h3>
        <h1 class="mx-auto max-w-4xl lg:my-8 md:my-4 my-2 font-display  font-medium tracking-tight text-slate-900 dark:text-slate-50 lg:text-2xl md:text-lg text-md  ">
            Dronesharp cloud is our protogrammetry offering that is cloud scale.
        </h1>
        <div class="grid lg:grid-cols-2 grid-cols-1 lg:gap-y-4 text-center ">
            <div class=" p-4 flex grid grid-cols-1 justify-center border-2 shadow-lg">
                <div class="flex items-center justify-center">
                    <img class="object-contain " src="./img/products/Dronesharp.io/Dronesharpio_project.png">
                </div>
            </div>
            <div class="p-4 flex grid grid-cols-1 justify-center border-2 shadow-lg">
                <div class=" flex items-center justify-center">
                    <h1 class="text-2xl"><b>Project Creation</b></h1>
                </div>
            </div>
            <div class=" p-4 flex grid grid-cols-1 justify-center border-2 shadow-lg">
                <div class="flex items-center justify-center">
                    <img class="object-contain " src="./img/products/Dronesharp.io/Dronesharp_image.png">
                </div>
            </div>
            <div class="p-4 flex grid grid-cols-1 justify-center border-2 shadow-lg">
                <div class=" flex items-center justify-center">
                    <h1 class="text-2xl"><b>Image upload</b></h1>
                </div>
            </div>
            <div class=" p-4 flex grid grid-cols-1 justify-center border-2 shadow-lg">
                <div class="flex items-center justify-center">
                    <img class="object-contain " src="./img/products/Dronesharp.io/Dronesharp_result.png">
                </div>
            </div>
            <div class="p-4 flex grid grid-cols-1 justify-center border-2 shadow-lg">
                <div class=" flex items-center justify-center">
                    <h1 class="text-2xl"><b>View Photogrammetry Results</b></h1>
                </div>
            </div>
            <div class=" p-4 flex grid grid-cols-1 justify-center border-2 shadow-lg">
                <div class="flex items-center justify-center">
                    <img class="object-contain " src="./img/products/Dronesharp.io/Dronesharpio_GCPS.png">
                </div>
            </div>
            <div class="p-4 flex grid grid-cols-1 justify-center border-2 shadow-lg">
                <div class=" flex items-center justify-center">
                    <h1 class="text-2xl"><b>GCP Interface</b></h1>
                </div>
            </div>
        </div>
    </div>
</div>
