@page "/dronesharpgcs"
@attribute [RenderStatic]
@{
    ViewData["Title"] = "Dronesharp GCS";
}

<div class="text-center lg:pt-2 sm:pt-4 pt-8 ">
    <div class="mx-auto lg:my-8 md:my-6 sm:my-4 my-2  max-w-7xl">
        <h3 class="lg:my-8 md:my-4 my-2 font-display text-2xl font-medium tracking-tight text-slate-900 dark:text-slate-50 sm:text-4xl">
            <b>Dronesharp GCP</b>
        </h3>
        <h1 class="mx-auto max-w-4xl lg:my-8 md:my-4 my-2 font-display  font-medium tracking-tight text-slate-900 dark:text-slate-50 lg:text-4xl md:text-3xl text-2xl ">
            About Dronesharpgcp....!!!
        </h1>
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-y-4 text-center ">
            <div class=" p-4 flex grid grid-cols-1 justify-center border-2 shadow-lg">
                <div class="flex items-center justify-center">
                    <img class="object-contain " src="./img/products/dronesharp/drone_map_01.png">
                </div>
            </div>
            <div class="p-4 flex grid grid-cols-1 justify-center border-2 shadow-lg">
                <div class=" flex items-end justify-center">
                    <h1 class="text-2xl"><b>Heading</b></h1>
                </div>
                <div class="flex items-stretch justify-center">
                    <ul class="text-md md:text-lg self-start ">
                        <li>About our DroneSharp...!!!</li>
                        <li>About our DroneSharp...!!!</li>
                        <li>About our DroneSharp...!!!</li>
                        <li>About our DroneSharp...!!!</li>
                        <li>About our DroneSharp...!!!</li>
                    </ul>
                </div>
            </div>
            <div class=" p-4 flex grid grid-cols-1 justify-center border-2 shadow-lg">
                <div class="flex items-center justify-center">
                    <img class="object-contain " src="./img/products/dronesharp/drone_map_02.png">
                </div>
            </div>
            <div class="p-4 flex grid grid-cols-1 justify-center border-2 shadow-lg">
                <div class=" flex items-end justify-center">
                    <h1 class="text-2xl"><b>Heading</b></h1>
                </div>
                <div class="flex items-stretch justify-center">
                    <ul class="text-md md:text-lg self-start ">
                        <li>About our DroneShape...!!!</li>
                        <li>About our DroneShape...!!!</li>
                        <li>About our DroneShape...!!!</li>
                        <li>About our DroneShape...!!!</li>
                        <li>About our DroneShape...!!!</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
