@page "/drone"
@attribute [RenderStatic]
@{
    ViewData["Title"] = "VIGOR";
}

<div class="text-center lg:pt-2 sm:pt-2 pt-2 " style="background-color:#eb9a65;">
    <h3 class="mx-auto max-w-4xl lg:my-4 sm:my-2 my-1 font-display text-2xl font-medium tracking-tight text-slate-900 dark:text-slate-50 sm:text-4xl">
        <b>VIGOR</b>
    </h3>
    <div class="grid grid-cols-1 lg:grid-cols-2 p-4" >
        <div class="flex items-center justify-center">
            <div class=" flex justify-center">
                <img class="object-contain " src="./img/products/Drone/dronelayout.png">
            </div>
        </div>
        <div class="flex ">
            <div class="flex grid grid-cols-2 items-center p-4 lg:gap-x-3 w-full gap-y-2" style="background-color:#f9dbb7;">
                <div class=" shadow-lg flex grid grid-cols-1 text-md md:text-lg " style="background-color:#eb9a65;">
                    <h6><b>50<sub>min</sub></b></h6>
                    <h6>Flight time</h6>
                </div>
                <div class=" shadow-lg flex grid grid-cols-1 text-md md:text-lg " style="background-color:#eb9a65;">
                    <h6><b>1.5<sub>km</sub></b></h6>
                    <h6>Range</h6>
                </div>
                <div class=" shadow-lg flex grid grid-cols-1 text-md md:text-lg " style="background-color:#eb9a65;">
                    <h6><b>1<sub>sq.km</sub></b></h6>
                    <h6>Survey area</h6>
                </div>
                <div class=" shadow-lg flex grid grid-cols-1 text-md md:text-lg " style="background-color:#eb9a65;">
                    <h6><b>15<sub>m/s</sub></b></h6>
                    <h6>speed</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center lg:pt-2 sm:pt-2 pt-2 " style="background-color:#99baef;">
    <h3 class="mx-auto max-w-4xl lg:my-4 sm:my-2 my-1 font-display text-2xl font-medium tracking-tight text-slate-900 dark:text-slate-50 sm:text-4xl">
        <b>Compact to transport</b>
    </h3>
    <div class="grid grid-cols-1 lg:grid-cols-2 p-4">
        <div class="flex ">
            <div class="flex items-center lg:justify-start justify-center p-4 lg:gap-x-3 w-full gap-y-2" style="background-color:#B5CDF3;">
                <div class="flex items-center justify-end">
                    <div class="justify-end">
                        <div class="lg:px-2">
                            <ul class="text-md md:text-lg lg:text-left text-center">
                                <li>Fit into a <b>backpack</b></li>
                                <li><b>Quick and easy</b> deployement</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex items-center justify-center">
            <div class=" flex justify-center">
                <img class="object-contain " src="./img/products/Drone/Drone_compact.png">
            </div>
        </div>
    </div>
</div>

<div class="text-center lg:pt-2 sm:pt-2 pt-2 " style="background-color:#69c266;">
    <h3 class="mx-auto max-w-4xl lg:my-4 sm:my-2 my-1 font-display text-2xl font-medium tracking-tight text-slate-900 dark:text-slate-50 sm:text-4xl">
        <b>Payload Quick Release</b>
    </h3>
    <div class="grid grid-cols-1 lg:grid-cols-2 p-4">
        <div class="flex items-center justify-center">
            <div class=" flex justify-center">
                <img class="object-contain " src="./img/products/Drone/Quick_release.png">
            </div>
        </div>
        <div class="flex ">
            <div class="flex items-center lg:justify-start justify-center p-4 lg:gap-x-3 w-full gap-y-2" style="background-color:#c6eac4;">
                <div class="flex items-center justify-end">
                    <div class="justify-end">
                        <div class="lg:px-2">
                            <ul class="text-md md:text-lg lg:text-left text-center">
                                <li><b>Instant</b> payload swap</li>
                                <li>Upto <b>15</b> lens combinations</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
