@page "/"
@attribute [RenderStatic]
@{
    ViewData["Title"] = "Vayukah Drones -  High quality drone for Survey, Mapping and Inspection";
}

<div class="text-center lg:pt-2 sm:pt-2 pt-2">
    <section class="text-cente/r mb-4 border-y">
       <div class="flex items-center justify-center border-y ">
           <video autoplay loop muted height="auto" width="100%" >
              <source src="./video/Drone_render.mp4" type="video/mp4" />
           </video>
        </div>
    </section>
    <h1 class="mx-auto max-w-4xl font-display text-2xl font-medium tracking-tight text-slate-900 dark:text-slate-50 sm:text-4xl">
        
        <span class="relative whitespace-nowrap text-blue-600">
            <svg aria-hidden="true" viewBox="0 0 418 42" class="absolute top-2/3 left-0 h-[0.58em] w-full fill-blue-300/70" preserveAspectRatio="none">
                <path d="M203.371.916c-26.013-2.078-76.686 1.963-124.73 9.946L67.3 12.749C35.421 18.062 18.2 21.766 6.004 25.934 1.244 27.561.828 27.778.874 28.61c.07 1.214.828 1.121 9.595-1.176 9.072-2.377 17.15-3.92 39.246-7.496C123.565 7.986 157.869 4.492 195.942 5.046c7.461.108 19.25 1.696 19.17 2.582-.107 1.183-7.874 4.31-25.75 10.366-21.992 7.45-35.43 12.534-36.701 13.884-2.173 2.308-.202 4.407 4.442 4.734 2.654.187 3.263.157 15.593-.78 35.401-2.686 57.944-3.488 88.365-3.143 46.327.526 75.721 2.23 130.788 7.584 19.787 1.924 20.814 1.98 24.557 1.332l.066-.011c1.201-.203 1.53-1.825.399-2.335-2.911-1.31-4.893-1.604-22.048-3.261-57.509-5.556-87.871-7.36-132.059-7.842-23.239-.254-33.617-.116-50.627.674-11.629.54-42.371 2.494-46.696 2.967-2.359.259 8.133-3.625 26.504-9.81 23.239-7.825 27.934-10.149 28.304-14.005.417-4.348-3.529-6-16.878-7.066Z"></path>
            </svg><span class="relative sm:text-5xl">Vayukah Drones</span>
        </span> <!-- --> - Survey and Mapping made easy for GIS applications.
    </h1>
    <div class="lg:mt-10 mt-4 flex justify-center gap-x-6">
        <a class="group inline-flex items-center justify-center rounded-full py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-slate-900 text-white hover:bg-slate-700 hover:text-slate-100 active:bg-slate-800 active:text-slate-300 focus-visible:outline-slate-900" href="/products">
            Vayu SM Specs
        </a>
        <a href="https://youtu.be/CrMNviwK2tA" target="_blank" class="group inline-flex ring-1 items-center justify-center rounded-full py-2 px-4 text-sm focus:outline-none ring-slate-200 text-slate-700 dark:text-slate-200 hover:text-slate-900 hover:ring-slate-300 dark:hover:ring-slate-600 active:bg-slate-100 active:text-slate-600 focus-visible:outline-blue-600 focus-visible:ring-slate-300">
            <svg aria-hidden="true" class="h-3 w-3 flex-none fill-blue-600 group-active:fill-current">
                <path d="m9.997 6.91-7.583 3.447A1 1 0 0 1 1 9.447V2.553a1 1 0 0 1 1.414-.91L9.997 5.09c.782.355.782 1.465 0 1.82Z"></path>
            </svg><span class="ml-3">Watch video</span>
        </a>
    </div>
</div>

<div class="mx-auto max-w-7xl px-6 lg:px-8 pt-2 pb-16 text-center lg:pt-5">
   
    <section id="Drone" class="bg-gray-50 text-center  w-full ">

        <div class="grid grid-cols-1  lg:grid-cols-2  lg:gap-y-1">
            <div class="  flex items-center  justify-center border-2  shadow-lg">
                <img class="object-contain w-3/4" src="./img/products/Drone/SM4_iso_armsopen_edited.png">
            </div>
            <div class="  hidden lg:flex  flex flex-wrap items-center justify-center ">
               
                <ul class=" text-gray-700 text-xl " style=" text-align:left;">
                    <li><b>Operational Envelope </b></li>
                    <li>Max payload <b>2</b> kg</li>
                    <li>Max endurance <b>55</b> min</li>
                    <li>Max speed <b>15</b> m/s</li>
                    <li>Max wind resistance <b>10</b> m/s</li>
                </ul>
                </div>
            @*for small devices*@
            <div class="   lg:hidden flex items-center pl-10 py-6  ">
                <ul class="   text-gray-700 text-md sm:text-lg " style=" text-align:left;">
                     <li><b>Operational Envelope </b></li>
                    <li>Max payload <b>2</b> kg</li>
                    <li>Max endurance <b>55</b> min</li>
                    <li>Max speed <b>15</b> m/s</li>
                    <li>Max wind resistance <b>10</b> m/s</li>
                </ul>
            </div>
        </div>

        <div class="grid grid-cols-1  lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-1">
            <div class="   hidden lg:flex  flex flex-wrap items-center justify-center ">
                <ul class="   text-gray-700 text-xl " style=" text-align:left;">
                    <li><b>Features</b></li>
                    <li>Compact and portable</li>
                    <li>Fully integrated PPK</li>
                    @* <li>Tested and proven Photogrammetry at 120 m altitude with 15 m/s</li> *@
                    <li>Photogrammetry at 120 m with 15 m/s</li>
                </ul>
            </div>
            <div class=" flex items-center  justify-center border-2  shadow-lg ">
                <img class="object-contain w-3/4"  src="./img/products/Drone/SM4_iso_edited.png">
            </div>
            @*for small devices*@
            <div class="   lg:hidden flex items-center pl-10 py-6  ">
                <ul class="   text-gray-700 text-md sm:text-lg " style=" text-align:left;">
                    <li><b>Features</b></li>
                    <li>Compact and portable</li>
                    <li>Fully integrated PPK</li>
                     @* <li>Tested and proven Photogrammetry at 120 m altitude with 15 m/s</li>  *@
                    <li>Photogrammetry at 120 m with 15 m/s</li>
                </ul>
                </div>
        </div>

        <div class="grid grid-cols-1  lg:grid-cols-2  lg:gap-y-1">
            <div class="   flex items-center  justify-center border-2  shadow-lg" style="max-height:450px;">
                <img class="object-contain h-full w-3/4" src="./img/products/Drone/SM4_GCS_RC_edited.png"> 
            </div>
            <div  class="  hidden lg:flex  flex flex-wrap items-center justify-center ">
                <ul class=" text-gray-700 text-xl sm:text-lg" style=" text-align:left;">
                    <li><b>Applications</b></li>
                    <li>Survey and mapping</li>
                    <li>Infrastructure Inspection</li>
                </ul>
            </div>
            @*for small devices*@
            <div class="  lg:hidden flex items-center pl-10 py-6  ">
                <ul class=" text-gray-700 text-md sm:text-lg " style=" text-align:left;">
                    <li><b>Applications</b></li>
                    <li>Survey and mapping</li>
                    <li>Infrastructure Inspection</li>
                </ul>
            </div>
        </div>

        <div class="grid grid-cols-1  lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-1">
            <div class="  hidden lg:flex lg:gap-x- flex flex-wrap items-center justify-center ">
                <ul class=" text-gray-700  text-xl py-16" style=" text-align:left;">
                    <li><b>Payloads</b></li>
                    <li>Sony α 6100</li>
                    <li>Sony α 7R IV</li>
                    <li>Gremsy S1 V3 Gimbal + Sony α 6100</li>
                </ul>
            </div>
            <div class="flex items-center  justify-center border-2  shadow-lg " >
                <img class="object-contain w-3/4" src="./img/products/Drone/SM4_FV_editedd.png" />
            </div>
            @*for small devices*@
            <div class="  lg:hidden flex items-center pl-10 py-6 ">
                <ul class="text-gray-700 text-md sm:text-lg" style=" text-align:left;">
                    <li><b>Payloads</b></li>
                    <li>Sony α 6100</li>
                    <li>Sony α 7R IV</li>
                    <li>Gremsy S1 V3 Gimbal + Sony α 6100</li>
                </ul>
            </div>
        </div>
           
                
    </section>
  
    <section id="showcase" class="bg-gray-50 text-center my-4 py-12   sm:py-24">
    <div class="mx-auto max-w-7xl">
        <div class="lg:mb-16 sm:mb-8 mb-4">
            <h1 class=" tracking-tight  text-gray-900 sm:text-2xl text-2xl ">Dronesharp GCS</h1>
            <div class="my-3 max-w-lg mx-auto text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-4xl">
                Fly with confidence
            </div>
        </div>
        
        </div>
        <div class="mt-8 grid grid-cols-1 lg:grid-cols-2 gap-4">
        <div class="block group flex items-center  justify-center border-2 rounded-2xl shadow-lg  ">
                <img class="p-2" src="./img/products/dronesharp/main-ui.png">
               @*  <div class="bg-gray-50 dark:bg-gray-800 text-gray-600 dark:text-gray-300 font-semibold  text-center py-2">User interface</div> *@
            </div>
        <div class="block group flex items-center  justify-center border-2 rounded-2xl shadow-lg ">
                <div style="max-height:310px;overflow:hidden">
                    <img class="p-2" src="./img/products/dronesharp/plan-mission.png">
                </div>
               @*  <div class="bg-gray-50 dark:bg-gray-800 text-gray-600 dark:text-gray-300 font-semibold  text-center py-2">Plan survey</div> *@
            </div>
        <div class="block group flex items-center  justify-center border-2 rounded-2xl shadow-lg ">
                <div style="max-height:310px;overflow:hidden">
                    <img class="p-2" src="./img/products/dronesharp/plan-mission.png">
                </div>
               @*  <div class="bg-gray-50 dark:bg-gray-800 text-gray-600 dark:text-gray-300 font-semibold  text-center py-2">Plan corridor</div> *@
            </div>
        <div class="block group  flex items-center  justify-center border-2 rounded-2xl shadow-lg ">
                <img class="p-2" src="./img/products/dronesharp/fly-mission.png">
               @*  <div class="bg-gray-50 dark:bg-gray-800 text-gray-600 dark:text-gray-300 font-semibold  text-center py-2">Fly mission</div> *@
            </div>
        </div>
    
    </section>


  <section id="smart battery" class="text-center bg-gray-50 w-full my-4 py-12 sm:py-24">
    <div class="mx-auto max-w-7xl">
        <div class="lg:mb-16 sm:mb-8 mb-4">
            <h1 class=" tracking-tight  text-gray-900 sm:text-2xl text-2xl ">Smart battery</h1>
            <div class="my-3 max-w-lg mx-auto text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-4xl">
                Battery with inbuilt BMS
            </div>
        </div>
       
        <div class="grid grid-cols-1 lg:py-6 py-2 lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-1">
            <div class="  lg\:grid-rows-\[auto_1fr\] flex items-center  justify-center ">
            <img width="350px" height="350px" class="border-2 rounded-2xl shadow-lg" src="./img/products/Battery/smartbattery.png">
        </div>
            <div class=" grid-cols-1 flex py-6 items-center  justify-center ">

                <ul class=" text-gray-700 text-lg sm:text-2xl" style=" text-align:left;">
                    <li>Inbuilt BMS</li>
                    <li>Capacity: 21000 mAh</li>
                    <li>Cells: 6S</li>
                    <li>Wattage: 450w</li>
                    <li>Discharge: 10 C</li>
                    <li>CAN Interface</li>
                </ul>

            </div>
                
        </div>
            
    </div>
  </section>
</div>


<script type="module">
import { mount } from "app.mjs"
import GettingStarted from "./mjs/components/GettingStarted.mjs" 

mount('#getting-started', GettingStarted, { template:'razor-ssg' })
</script>