@page "/"
@attribute [RenderStatic]
@{
    ViewData["Title"] = "Vayukah Drones -  High quality drone for Survey, Mapping and Inspection";
}

<div class="text-center lg:pt-2 sm:pt-2 pt-2">
    <section class="text-cente/r mb-4 border-y">
        <div class="flex lg:hidden items-center justify-center border-y ">
           <video autoplay loop muted height="auto" width="100%" >
              <source src="./video/Drone_render.mp4" type="video/mp4" />
           </video>
        </div>
        @*For lg or above*@
        <div class="flex hidden lg:flex items-center justify-center border-y " style="background-image: url('./img/products/Drone/Backgroundimage.png'); background-size:100%;">
            <video autoplay loop muted height="auto" width="60%">
                <source src="./video/Drone_render.mp4" type="video/mp4" />
            </video>
        </div>
    </section>
    <h1 class="mx-auto max-w-4xl font-display  font-medium tracking-tight text-slate-900 dark:text-slate-50 lg:text-4xl md:text-3xl text-2xl ">
          Vayukah Drones - Survey and Mapping made easy for GIS applications.
    </h1>
    <div class="lg:mt-10 mt-4 flex justify-center gap-x-6">
        <a class="group inline-flex items-center justify-center rounded-full py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-slate-900 text-white hover:bg-slate-700 hover:text-slate-100 active:bg-slate-800 active:text-slate-300 focus-visible:outline-slate-900" href="/products">
            Vayu SM Specs
        </a>
        <a href="https://youtu.be/CrMNviwK2tA" target="_blank" class="group inline-flex ring-1 items-center justify-center rounded-full py-2 px-4 text-sm focus:outline-none ring-slate-200 text-slate-700 dark:text-slate-200 hover:text-slate-900 hover:ring-slate-300 dark:hover:ring-slate-600 active:bg-slate-100 active:text-slate-600 focus-visible:outline-blue-600 focus-visible:ring-slate-300">
            <svg aria-hidden="true" class="h-3 w-3 flex-none fill-blue-600 group-active:fill-current">
                <path d="m9.997 6.91-7.583 3.447A1 1 0 0 1 1 9.447V2.553a1 1 0 0 1 1.414-.91L9.997 5.09c.782.355.782 1.465 0 1.82Z"></path>
            </svg><span class="ml-3">Watch video</span>
        </a>
    </div>
</div>

<div class="mx-auto max-w-7xl px-6 lg:px-8 pt-2 pb-16 text-center lg:pt-5">
   
    <section id="Drone" class="text-center p-2  w-full ">

        <h3 class="mx-auto max-w-4xl lg:my-4 sm:my-2 my-1 font-display text-2xl font-medium tracking-tight text-slate-900 dark:text-slate-50 sm:text-4xl">
            <b> Our Products </b>
        </h3>
        <div class="grid grid-cols-1 lg:grid-cols-2 p-4 lg:gap-x-3 gap-y-2">
            <div class="flex grid grid-cols-1 flex items-stretch p-4 border-2 shadow-lg">
                <div class=" flex justify-center">
                    <img class="object-contain " src="./img/products/Drone/dronelayout.png">
                </div>
                <div>
                    <h1 class="h-auto lg:text-2xl text-lg"><b>VIGOR</b></h1>
                </div>
                <div>
                    <ul class="text-md md:text-lg">
                        <li>Survey & Mapping</li>
                        <li>50min Flight time</li>
                        <li>Quick and easy deployement</li>
                    </ul>
                </div>
                <div class="flex justify-end" >
                    <a class="group inline-flex items-center justify-center rounded-full py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-slate-900 text-white hover:bg-slate-700 hover:text-slate-100 active:bg-slate-800 active:text-slate-300 focus-visible:outline-slate-900" href="/products">
                        Know More
                    </a>
                </div>
            </div>
            
            <div class="flex grid grid-cols-1 flex items-stretch p-4 border-2 shadow-lg">
                <div class=" flex justify-center">
                    <img class="object-contain  " src="./img/products/Battery/smartbattery.png">
                </div>
                <div>
                    <h1 class="h-auto lg:text-2xl text-lg"><b>Smart battery</b></h1>
                </div>
                <div>
                    <ul class="text-md md:text-lg">
                        <li>21000 mAh</li>
                        <li>6S Li-ion</li>
                        <li>5C discharge</li>
                    </ul>
                </div>
                <div class="flex justify-end">
                    <a class="group inline-flex items-center justify-center rounded-full py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-slate-900 text-white hover:bg-slate-700 hover:text-slate-100 active:bg-slate-800 active:text-slate-300 focus-visible:outline-slate-900" href="/products">
                        Know More
                    </a>
                </div>
            </div>
        </div>

        <h3 class="mx-auto max-w-4xl lg:my-4 sm:my-2 my-1 font-display text-2xl font-medium tracking-tight text-slate-900 dark:text-slate-50 sm:text-4xl">
            <b> Our Solutions</b>
        </h3>
        <div class="grid grid-cols-1 lg:grid-cols-2 p-4 lg:gap-x-3 gap-y-2">
            <div class="flex grid grid-cols-1 flex items-stretch p-4 border-2 shadow-lg">
                <div class=" flex justify-center">
                    <img class="object-contain " src="./img/products/dronesharp/main-ui.png">
                </div>
                <div>
                    <h1 class="h-auto lg:text-2xl text-md"><b>Dronesharp GCS</b></h1>
                </div>
                <div>
                    <ul class="text-md md:text-lg ">
                        <li>Specialized for survey/mapping</li>
                        <li>Mulit mission management</li>
                        <li>Inflight survey preview</li>
                    </ul>
                </div>
                <div class="flex justify-end">
                    <a class="group inline-flex items-center justify-center rounded-full py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-slate-900 text-white hover:bg-slate-700 hover:text-slate-100 active:bg-slate-800 active:text-slate-300 focus-visible:outline-slate-900" href="/products">
                        Know More
                    </a>
                </div>
            </div>

            <div class="flex grid grid-cols-1 flex items-stretch p-4 border-2 shadow-lg">
                <div class=" flex justify-center">
                    <img class="object-contain  " src="./img/products/dronesharp/dronesharpio.png">
                </div>
                <div>
                    <h1 class="h-auto text-2xl"><b>Dronesharp Cloud</b></h1>
                </div>
                <div>
                    <ul class="text-md md:text-lg ">
                        <li>Cloud based photogrammetry</li>
                        <li>Survey project management</li>
                        <li>GCPs interface</li>
                    </ul>
                </div>
                <div class="flex justify-end">
                    <a class="group inline-flex items-center justify-center rounded-full py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-slate-900 text-white hover:bg-slate-700 hover:text-slate-100 active:bg-slate-800 active:text-slate-300 focus-visible:outline-slate-900" href="/products">
                        Know More
                    </a>
                </div>
            </div>
        </div>

     
    </section>
</div>

<div class="text-center lg:pt-2 sm:pt-2 pt-2 " style="background-color:#B5CDF3;">
    
        <h3 class="mx-auto max-w-4xl lg:my-4 sm:my-2 my-1 font-display text-2xl font-medium tracking-tight text-slate-900 dark:text-slate-50 sm:text-4xl">
            <b>Drones4Relief</b>
        </h3>
    <div class="grid grid-cols-1 lg:grid-cols-2 p-4 lg:gap-x-3 gap-y-2">
            <div class="flex items-center justify-end">
                <div class="justify-end">
                    <h1 class=" text-2xl"><b>A Cloud based solution for humanitarian using Drones</b></h1>
                    <div class="lg:px-2">
                        <ul class="text-md md:text-lg lg:list-disc lg:text-left">
                            <li>Quick mapping with multiple drones</li>
                            <li>Near real time data for disaster relief</li>
                            <li>ML and AI assistance for damage assessment</li>
                            <li>seamless, coordinated drone deliveries</li>
                            <li>Actionable metrics for efficient disaster relief</li>
                        </ul>
                    </div>
                    <div class="flex lg:justify-end justify-center">
                        <a class="group inline-flex items-center justify-center rounded-full py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-slate-900 text-white hover:bg-slate-700 hover:text-slate-100 active:bg-slate-800 active:text-slate-300 focus-visible:outline-slate-900" href="/products">
                            Know More
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex ">
                <div class="flex grid lg:grid-cols-2 items-center grid-cols-1 lg:gap-x-3 gap-y-2">
                    <img class="object-contain " src="./img/products/Drones4relief/drones_4_relief_01.png">
                    <img class="object-contain " src="./img/products/Drones4relief/Drones_4_Relief_03.png">
                </div>
            </div>
        </div>
</div>

<script type="module">
import { mount } from "app.mjs"
import GettingStarted from "./mjs/components/GettingStarted.mjs" 

mount('#getting-started', GettingStarted, { template:'razor-ssg' })
</script>