@page "/products"
@attribute [RenderStatic]
@inject MarkdownProducts products
@{

    var doc = products.VisiblePages[0];


    ViewData["Title"] = doc?.Title;
} 

<link rel="stylesheet" href="css/typography.css">
<link href="/path/to/tailwind.css" rel="stylesheet">
<div class=" flex justify-center lg:pt-20 pt-10">
    <div class="ml-6 my-2 pt-6 px-2 grow prose table-specs ">
        @Html.Raw(doc?.Preview)
    </div>
</div>